@import url("https://use.typekit.net/jmk3xov.css");
*{
  box-sizing: border-box;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
}
p{
  color: black;
  font-weight: 800;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



  header {
    
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
    backdrop-filter: blur(20px);
  }

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
    backdrop-filter: blur(20px);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: black;
    background-color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1;
  }

  .left {
    grid-column: 6 / 12;
  }
  @media (max-width:770px) {
    .left {
      grid-column: 1/12;
    }
  }
  a{
   text-decoration: none;
   color: rgb(61, 226, 61);
   border: 1px dotted black;

  }
  a:hover{
    color: rgb(172, 1, 172);
  }
  @media (max-width: 700px) {
    h1{
      font-size: 1rem;
      

    }
    canvas{
      width: 80%;
    }

  }